.header {
  background-color: #000000;
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
}
.navigationList {
  display: flex;
  gap: 30px;
}
.navigationSpan {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.container {
  width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 50px;
  margin-bottom: 150px;
}

.trendList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.trendSpan {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.trendItem:hover {
  background-color: darkkhaki;
}

.from {
  margin-top: 30px;
}
.fromInput {
  background-color: rgba(252, 252, 252);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  outline: none;
  padding: 5px;
  width: 300px;
}

.fromLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 25px;
  font-weight: bold;
}

.btnSubmit {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  cursor: pointer;
  display: block;
  font-size: 20px;
  padding: 5px;
  transition: border-color 0.25s ease-in, color 0.25s ease-in;
  width: 100px;
  background-color: rgba(252, 252, 252);

  margin-top: 10px;
}

.btnBack {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  transition: border-color 0.25s ease-in, color 0.25s ease-in;
  width: 100px;
  background-color: rgba(252, 252, 252);
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;

  text-align: center;
}

.imgFilm {
  width: 350px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.detailsWrapper {
  display: flex;
  gap: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.subTitleDetails {
  font-size: 25px;
  margin-bottom: 10px;
}

.titleDetails {
  font-size: 35px;
  margin-bottom: 10px;
}

.infoDetails {
  font-size: 20px;
}

.subTitleAddition {
  margin-left: 50px;
}

.extraPage {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: darkkhaki;
}
.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  margin-top: 50px;
  list-style: none;
}

.castImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.castListInfo {
  font-size: 15px;
  font-weight: bold;
}

.castItem {
  flex-basis: calc((100% - 20px) / 4);
}
.review {
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.reviewTitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}

.reviewInfo {
  font-size: 20px;
}
